@charset "utf-8";

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background-color: gold;
}

header {
    width: 100%;
    height: 160px;
}


#header_top {
    width: 100%;
    height: 40px;
    background-color: #eee;

}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login {

    width: 290px;
    height: 20px;
    background-color: tomato;
}

#login li {
    float: left;
    padding: 0 5px;
    margin-top: -0px;   
    font-size: 13px;  
}

#login li::after {
    content: "|";
    float: right;
    margin-top: 5px;
    font-size: 8px;
    color: #ccc;      
}

#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    background-color: skyblue;
}

nav {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav .container {display: flex; justify-content: flex-start; align-items: center;}
nav ul {width: 700px; height: 25px; display: flex; justify-content: space-between; background-color: cyan;}

/*main*/

main {width: 1140px; height: 2200px; margin: 0 auto; display: flex; background-color: pink;}
aside {width: 300px; height: 100%; background-color: greenyellow;}

#header_main img {
    width: 150px;
    height: auto;
    margin-top: 10; 
}

#main_content {width: calc(100% - 300px); height: 100%; background-color: azure;}

#slider {
    width: 100%;
    height: 350px;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    /* background-color: green; */
}

#slider_txt{
    width: 270px;
    height: 100%;
    position: relative;
    background-color: pink;
 }

 .swiper-button-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 100px;
    right: auto;
    top: auto;
    bottom: 100px;
    color: #888;
 }
 .swiper-button-prev {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 30px;
    top: auto;
    bottom: 100px;
    color: #888;

 }

 #slider_txt .swiper-navigation-icon {
    width: 50%; 
    height: 50%; 

}

/*swiper css*/

    #slider .swiper {
      width: calc(100% - 270px);
      height: 100%;
    }

    #new.swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #444; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

/*new*/

 #new{
    width: 100%;
    height: 520px;
 }

 #new.swiper-slide{
    flex-direction: column;
 }

 #new.swiper-slide img {
    width: 100%;
    height: auto;
 }

/* footer*/

footer {width: 100%; height: 180px; border-top: 1px solid #ddd;}


